.ReactModalPortal > div {
  opacity: 0;
}
.ReactModalPortal .ReactModal__Overlay {
  transition: opacity 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}
.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}
.modal {
  background: $light-blue;
  color: $white;
  outline: none;
  padding: $s-size;
  text-align: center;
  position: absolute;
  top: 60px;
  left: 40px;
  right: 40px;
  bottom: 60px;
  box-shadow: 20px 30px 50px $zuccini-light;
}
.modal__title {
  margin: 0 0 $l-size 0;
  font-size: 3rem;
  word-break: break-all;
}
.modal__body {
  margin: 0 0 $l-size 0;
  font-size: 2rem;
  font-weight: 300;
  word-break: break-all;
}
/* ====== Media Queries ===== */
@media screen and (min-width: 768px) {
  .modal {
    padding: $m-size;
    top: 160px;
    left: 80px;
    right: 80px;
    bottom: 160px;
  }
}
@media screen and (min-width: 1024px) {
  .modal {
    padding: $l-size;
    top: 200px;
    left: 200px;
    right: 200px;
    bottom: 200px;
  }
}
